@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-color: #fafafa;
  min-width: 100%;
}

@layer components {
  section {
    @apply sm:min-h-[600px];
  }

  .signup-form,
  .signin-form {
    @apply flex w-full flex-col gap-4 xxs:gap-14 xs:gap-11 sm:gap-10;
  }

  .form-control {
    @apply relative w-full;
  }

  .input-error {
    @apply absolute left-0 top-full text-[12px] text-red-500 xs:text-xs;
  }

  .cart-action {
    @apply flex aspect-square h-6 w-6 items-center justify-center rounded-sm border border-dark-grey bg-white text-lg transition duration-200 hover:bg-dark-grey hover:text-white;
  }

  .cart-action.add {
    @apply bg-dark-grey text-white;
  }

  .password-error {
    @apply -bottom-4 left-0 -mt-5 ml-4 list-disc text-[12px] text-red-500 xs:text-xs;
  }

  .form-control input {
    @apply w-full border border-light-grey;
  }

  .input {
    @apply rounded-md bg-light-grey p-2 text-sm font-normal text-dark-grey outline-none placeholder:text-dark-grey xs:text-base;
  }

  .input-wrapper {
    @apply flex flex-col gap-6 sm:flex-row sm:justify-between sm:gap-8;
  }

  .input-wrapper .form-control {
    @apply sm:w-1/2;
  }

  .input-wrapper .form-control input,
  .input-wrapper .form-control select {
    @apply w-full rounded-md border border-light-grey bg-light-grey p-2 text-sm font-normal text-dark-grey outline-none placeholder:text-dark-grey xs:text-base;
  }

  .form-control.invalid input,
  .form-control.invalid select {
    @apply border-red-600 bg-red-100;
  }

  .formInput {
    @apply block w-full rounded-md border-0 px-2 py-1.5 text-sm text-gray-900 outline-none ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 xs:text-base sm:text-sm sm:leading-6;
  }

  .input-wrapper .form-control select option {
    @apply bg-white;
  }

  .primary-btn {
    @apply w-max rounded-md bg-primary px-[20px] py-[7px] text-sm text-white transition duration-150 ease-in-out hover:bg-[#03b100] xs:text-base;
  }

  .btn-alt {
    @apply w-max rounded-md bg-[#e9e9e9] px-[20px] py-[5px] text-sm text-[#6F7285] transition duration-150 ease-in-out hover:bg-[#dddddd] xs:text-base;
  }

  .secondary-btn {
    @apply w-max rounded-md border border-primary bg-white px-[20px] py-[7px] text-sm text-primary transition duration-150 ease-in-out hover:bg-secondary xs:text-base;
  }
}
